<a href="https://colab.research.google.com/github/graphtrek/stockforecast/blob/main/tasty_annual.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os, time
import numpy as np
import math
import time
import json

from pathlib import Path

import pandas as pd

In [18]:
file_path = '/content/drive/MyDrive/tastyworks_transactions_x5706_2021-01-01_2021-12-31.csv'
file_exists = os.path.exists(file_path)
if file_exists is True:
  tasty_df = pd.read_csv(file_path)
  tasty_df = tasty_df.reset_index()  # make sure indexes pair with number of rows
  print("Tasty History loaded:", file_path)
else:
  print("Tasty History does not exists:", file_path)

Tasty History loaded: /content/drive/MyDrive/tastyworks_transactions_x5706_2021-01-01_2021-12-31.csv

In [31]:
def find_closed_transactions(symbol,df):
  return df.query('Action.str.contains("CLOSE")  and Symbol=="' + symbol + '"', engine='python')

In [32]:

for index, row in tasty_df.iterrows():
  if "OPEN" in str(row['Action']):
    closed_df = find_closed_transactions(str(row['Symbol']), tasty_df)
    print(closed_df['Symbol'], closed_df['Quantity'])    
    #print(row['Date'], row['Action'], row['Symbol'], row['Quantity'])

Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
31    APPS  220318C00060000
Name: Symbol, dtype: object 31    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
38    ARKK  230120P00090180
Name: Symbol, dtype: object 38    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
37    ARKK  220121P00059220
Name: Symbol, dtype: object 37    1.0
Name: Quantity, dtype: float64
39    ARKG  220414P00059620
Name: Symbol, dtype: object 39    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
40    BNGO  230120P00003000
Name: Symbol, dtype: object 40    1.0
Name: Quantity, dtype: float64
42    ARKK  230120P00090960
Name: Symbol, dtype: object 42    1.0
Name: Quantity, dtype: float64
88    LCID
Name: Symbol, dtype: object 88    300.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
30    TGT   220121C00220000
77    TGT   220121C00220000
Name: Symbol, dtype: object 30    1.0
77    1.0
Name: Quantity, dtype: float64
29    TGT   220121C00217500
76    TGT   220121C00217500
Name: Symbol, dtype: object 29    1.0
76    1.0
Name: Quantity, dtype: float64
30    TGT   220121C00220000
77    TGT   220121C00220000
Name: Symbol, dtype: object 30    1.0
77    1.0
Name: Quantity, dtype: float64
29    TGT   220121C00217500
76    TGT   220121C00217500
Name: Symbol, dtype: object 29    1.0
76    1.0
Name: Quantity, dtype: float64
33    JETS  220617P00019860
34    JETS  220617P00019860
Name: Symbol, dtype: object 33    1.0
34    1.0
Name: Quantity, dtype: float64
72    JETS  220218P00019860
Name: Symbol, dtype: object 72    1.0
Name: Quantity, dtype: float64
30    TGT   220121C00220000
77    TGT   220121C00220000
Name: Symbol, dtype: object 30    1.0
77    1.0
Name: Quantity, dtype: float64
29    TGT   220121C00217500
76    TGT   220121C00217500
Name: Symbol, dtype: object 29    1.0
76    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
100    JETS  220617P00020000
Name: Symbol, dtype: object 100    2.0
Name: Quantity, dtype: float64
35    BNGO  220218P00005000
Name: Symbol, dtype: object 35    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
46    ARKK  220121P00070000
Name: Symbol, dtype: object 46    1.0
Name: Quantity, dtype: float64
44    ARKK  220121P00075000
Name: Symbol, dtype: object 44    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
164    BA    220121C00180000
Name: Symbol, dtype: object 164    1.0
Name: Quantity, dtype: float64
163    BA    220121C00185000
Name: Symbol, dtype: object 163    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
109    ARKG  220121P00035000
Name: Symbol, dtype: object 109    1.0
Name: Quantity, dtype: float64
48    ARKK  220121P00060000
Name: Symbol, dtype: object 48    1.0
Name: Quantity, dtype: float64
15    BNGO  220520C00007000
Name: Symbol, dtype: object 15    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
133    BNGO  220121P00003000
Name: Symbol, dtype: object 133    1.0
Name: Quantity, dtype: float64
149    DKNG  220121P00025000
Name: Symbol, dtype: object 149    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
160    PLTR  220121P00015000
Name: Symbol, dtype: object 160    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
176    FB    220121C00325000
Name: Symbol, dtype: object 176    1.0
Name: Quantity, dtype: float64
177    FB    220121C00320000
Name: Symbol, dtype: object 177    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
131    SNAP  220121P00060000
Name: Symbol, dtype: object 131    2.0
Name: Quantity, dtype: float64
132    SNAP  220121P00065000
Name: Symbol, dtype: object 132    2.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
131    SNAP  220121P00060000
Name: Symbol, dtype: object 131    2.0
Name: Quantity, dtype: float64
132    SNAP  220121P00065000
Name: Symbol, dtype: object 132    2.0
Name: Quantity, dtype: float64
301    RKLB  220414P00010000
Name: Symbol, dtype: object 301    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
31    APPS  220318C00060000
Name: Symbol, dtype: object 31    1.0
Name: Quantity, dtype: float64
32    APPS  220318C00055000
Name: Symbol, dtype: object 32    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
223    ARKG  211217P00049210
Name: Symbol, dtype: object 223    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
230    SNAP  220121C00045000
Name: Symbol, dtype: object 230    1.0
Name: Quantity, dtype: float64
229    SNAP  220121C00047000
Name: Symbol, dtype: object 229    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
70    WBA   220414P00042500
Name: Symbol, dtype: object 70    2.0
Name: Quantity, dtype: float64
71    WBA   220414P00045000
Name: Symbol, dtype: object 71    2.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
233    DIS   220121C00130000
Name: Symbol, dtype: object 233    1.0
Name: Quantity, dtype: float64
232    DIS   220121C00135000
Name: Symbol, dtype: object 232    1.0
Name: Quantity, dtype: float64
71    WBA   220414P00045000
Name: Symbol, dtype: object 71    2.0
Name: Quantity, dtype: float64
70    WBA   220414P00042500
Name: Symbol, dtype: object 70    2.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
102    JETS  220218P00020000
Name: Symbol, dtype: object 102    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
236    BA    211217C00190000
Name: Symbol, dtype: object 236    1.0
Name: Quantity, dtype: float64
235    BA    211217C00195000
Name: Symbol, dtype: object 235    1.0
Name: Quantity, dtype: float64
110    RIVN  220318P00065000
Name: Symbol, dtype: object 110    1.0
Name: Quantity, dtype: float64
143    PYPL  211217P00190000
Name: Symbol, dtype: object 143    1.0
Name: Quantity, dtype: float64
142    PYPL  211217P00187500
Name: Symbol, dtype: object 142    1.0
Name: Quantity, dtype: float64
50    ARKG  220414P00060000
Name: Symbol, dtype: object 50    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
267    AAPL  211203C00160000
Name: Symbol, dtype: object 267    2.0
Name: Quantity, dtype: float64
266    AAPL  211203C00162500
Name: Symbol, dtype: object 266    2.0
Name: Quantity, dtype: float64
267    AAPL  211203C00160000
Name: Symbol, dtype: object 267    2.0
Name: Quantity, dtype: float64
266    AAPL  211203C00162500
Name: Symbol, dtype: object 266    2.0
Name: Quantity, dtype: float64
254    ZS    211217C00330000
Name: Symbol, dtype: object 254    1.0
Name: Quantity, dtype: float64
255    ZS    211217C00320000
Name: Symbol, dtype: object 255    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
1032    PLTR
Name: Symbol, dtype: object 1032    400.0
Name: Quantity, dtype: float64
1032    PLTR
Name: Symbol, dtype: object 1032    400.0
Name: Quantity, dtype: float64
100    JETS  220617P00020000
Name: Symbol, dtype: object 100    2.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
290    V     211217C00205000
Name: Symbol, dtype: object 290    1.0
Name: Quantity, dtype: float64
291    V     211217C00200000
Name: Symbol, dtype: object 291    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
1032    PLTR
Name: Symbol, dtype: object 1032    400.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
64    PYPL  220121P00220000
Name: Symbol, dtype: object 64    2.0
Name: Quantity, dtype: float64
65    PYPL  220121P00230000
Name: Symbol, dtype: object 65    2.0
Name: Quantity, dtype: float64
295    AMZN  220121C04000000
Name: Symbol, dtype: object 295    1.0
Name: Quantity, dtype: float64
294    AMZN  220121C03950000
Name: Symbol, dtype: object 294    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
127    PLTR  220121P00022000
Name: Symbol, dtype: object 127    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
323    RBLX  220121P00070000
Name: Symbol, dtype: object 323    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
292    V     211217C00225000
Name: Symbol, dtype: object 292    1.0
Name: Quantity, dtype: float64
293    V     211217C00220000
Name: Symbol, dtype: object 293    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
292    V     211217C00225000
Name: Symbol, dtype: object 292    1.0
Name: Quantity, dtype: float64
293    V     211217C00220000
Name: Symbol, dtype: object 293    1.0
Name: Quantity, dtype: float64
292    V     211217C00225000
Name: Symbol, dtype: object 292    1.0
Name: Quantity, dtype: float64
293    V     211217C00220000
Name: Symbol, dtype: object 293    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
303    AAPL  211217P00150000
Name: Symbol, dtype: object 303    1.0
Name: Quantity, dtype: float64
302    AAPL  211217P00145000
Name: Symbol, dtype: object 302    1.0
Name: Quantity, dtype: float64
371    AAL   211119C00017000
Name: Symbol, dtype: object 371    1.0
Name: Quantity, dtype: float64
288    BA    220318P00195000
Name: Symbol, dtype: object 288    1.0
Name: Quantity, dtype: float64
289    BA    220318P00200000
Name: Symbol, dtype: object 289    1.0
Name: Quantity, dtype: float64
68    BARK  221216P00010000
Name: Symbol, dtype: object 68    1.0
Name: Quantity, dtype: float64
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)
Series([], Name: Symbol, dtype: object) Series([], Name: Quantity, dtype: float64)